<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">


<head>
    <title></title>
    <!--/*/ <th:block th:include="fragments/stylingFragment.html :: head">
            </th:block> /*/-->

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 400px;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #description {
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
        }

        #infowindow-content .title {
            font-weight: bold;
        }

        #infowindow-content {
            display: none;
        }

        #map #infowindow-content {
            display: inline;
        }

        .pac-card {
            margin: 10px 10px 0 0;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            font-family: Roboto;
        }

        #pac-container {
            padding-bottom: 12px;
            margin-right: 12px;
        }

        .pac-controls {
            display: inline-block;
            padding: 5px 11px;
        }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

        #pac-input:focus {
            border-color: #4d90fe;
        }

        #title {
            color: #fff;
            background-color: #4d90fe;
            font-size: 25px;
            font-weight: 500;
            padding: 6px 12px;
        }
    </style>

</head>


<body>
<div th:replace="fragments/stylingFragment.html:: navbar"></div>

<main role="main" class="container">

    <div id="addForm">
        <div class="row m-4">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Event</span>
            </div><br>
            <div class="col-7 text-center m-3">
                <form id="form" action="/addEvent" method="POST">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon125">
                            Start Date</span></div>
                        <input class="form-control" type="date" value="yyyy/mm/dd" id="startTime" name="startTime" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon127">End Date</span></div>

                        <input class="form-control" type="date"  value="yyyy/mm/dd" id="endTime" name="endTime" required>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Event Name</span>
                        </div>
                        <input type="text" class="form-control"  name="eventName" id="name" required aria-label="event" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon9">Description</span>
                        </div>
                        <input type="text" class="form-control"  name="description" id="description" required aria-label="description" aria-describedby="basic-addon9">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="categoryList">Categories</label>
                        </div>
                        <select class="custom-select"  multiple required  id="categoryList" name="addCategoryId">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}" >Category</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="group">Organizing Group</label>
                        </div>
                        <select class="custom-select" id="group" name="group">
                            <option value="none" selected disabled hidden>
                                Select an organizing group
                            </option>
                            <option th:each="group : ${groupList}"
                                    th:value="${group.id}"
                                    th:text="${group.name}" >Organizing Group</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="organizer">Individual Organizer</label>
                        </div>
                        <select class="custom-select" id="organizer" name="organizer">
                            <option value="none" selected disabled hidden>
                                Select an individual organizer
                            </option>
                            <option th:each="organizer : ${organizers}"
                                    th:value="${organizer.id}"
                                    th:text="${organizer.firstName} + ' ' + ${organizer.lastName}" >Organizer</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inviteList">Invite List</label>
                        </div>
                        <select class="custom-select" id="inviteList" name="addInvitedEmployeeId" multiple required>
                            <option th:each="employee : ${employees}"
                                    th:value="${employee.id}"
                                    th:text="${employee.firstName} + ' ' + ${employee.lastName} +
                                    ' (' + ${employee.id} + ')'" >Employees to Invite</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div>
                            <input type="checkbox"  id="isRequired" name="isRequired" data-toggle="toggle" data-on="Required" data-off="Optional" data-onstyle="danger" data-offstyle="primary" data-size="large">
                        </div>
                    </div><br>
                    <div class="pac-card" id="pac-card" style="color: black;">
                        <div>
                            <div id="title">
                                Autocomplete search
                            </div>
                            <div id="type-selector" class="pac-controls">
                                <input type="radio" name="type" id="changetype-all" checked="checked">
                                <label for="changetype-all">All</label>

                                <input type="radio" name="type" id="changetype-establishment">
                                <label for="changetype-establishment">Establishments</label>

                                <input type="radio" name="type" id="changetype-address">
                                <label for="changetype-address">Addresses</label>

                                <input type="radio" name="type" id="changetype-geocode">
                                <label for="changetype-geocode">Geocodes</label>
                            </div>
                            <div id="strict-bounds-selector" class="pac-controls">
                                <input type="checkbox" id="use-strict-bounds" value="">
                                <label for="use-strict-bounds">Strict Bounds</label>
                            </div>
                        </div>
                        <div id="pac-container"  style="color: black;">
                            <input id="pac-input" type="text"
                                   placeholder="Enter a location">
                        </div>
                    </div>
                    <div id="map"></div>
                    <div id="infowindow-content"  style="color: black;">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name"  class="title"></span><br>
                        <span id="place-address"></span>

                    </div><br>



                
                    <input type="hidden" id="latitude" name="latitude" required />
                    <input type="hidden" id="longitude" name="longitude" required />

                    <!--                        <input type="hidden" name="id" th:value="${organization.id}"/>-->

                    <span  th:if="${userGood} == true"><button type="submit" class="btn btn-primary">
                        Add Event</button>          </span><span   th:if="${userGood} == false">         <button type="submit" class="btn btn-danger" >
                    Add Event</button></span>
                </form>
            </div>
        </div>

        </div>
    </div>
</main>




<div th:replace="fragments/stylingFragment.html :: includes"></div>

<script>
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 52.37699, lng: 4.89811},
            zoom: 13
        });
        var card = document.getElementById('pac-card');
        var input = document.getElementById('pac-input');
        var types = document.getElementById('type-selector');
        var strictBounds = document.getElementById('strict-bounds-selector');

        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo('bounds', map);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);  // Why 17? Because it looks good.
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            document.getElementById('latitude').value =  place.geometry.location.lat();
            document.getElementById('longitude').value =  place.geometry.location.lng();
            document.getElementById('placeName').value =  place.name;

            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            infowindowContent.children['place-icon'].src = place.icon;
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-address'].textContent = address;
            infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
            var radioButton = document.getElementById(id);
            radioButton.addEventListener('click', function() {
                autocomplete.setTypes(types);
            });
        }

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);

        document.getElementById('use-strict-bounds')
            .addEventListener('click', function() {
                console.log('Checkbox clicked! New state=' + this.checked);
                autocomplete.setOptions({strictBounds: this.checked});
            });
    }
</script>
<script>
    $("#form").validate({
    rules: {
        "end_date": {
            required: function(element) {return ($("#endTime").val()!="");},
            greaterStart: "#startTime"
        }

    }
});</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66tFLS3_WbOT1Eln1Pi7LT6dN68L-xSc&libraries=places&callback=initMap"
        async defer></script>
<!--<script>-->
<!--    jQuery(document).ready(function () {-->
<!--        initAutocomplete(); });-->
<!--    var placeSearch, autocomplete, place;-->

<!--    var componentForm = {-->
<!--        street_number: 'short_name',-->
<!--        route: 'long_name',-->
<!--        locality: 'long_name',-->
<!--        administrative_area_level_1: 'short_name',-->
<!--        country: 'long_name',-->
<!--        postal_code: 'short_name'-->
<!--    };-->

<!--    function initAutocomplete() {-->
<!--        // Create the autocomplete object, restricting the search predictions to-->
<!--        // geographical location types.-->
<!--        autocomplete = new google.maps.places.Autocomplete(-->
<!--            document.getElementById('autocomplete'), {types: ['geocode']});-->

<!--        // Avoid paying for data that you don't need by restricting the set of-->
<!--        // place fields that are returned to just the address components.-->
<!--        autocomplete.setFields(['address_component', 'place_id', 'geometry']);-->

<!--        // When the user selects an address from the drop-down, populate the-->
<!--        // address fields in the form.-->
<!--        autocomplete.addListener('place_changed', fillInAddress);-->
<!--    }-->

<!--    function fillInAddress() {-->
<!--        // Get the place details from the autocomplete object.-->
<!--        place = autocomplete.getPlace();-->
<!--        // document.getElementById('placeID').value = place.place_id;-->
<!--        document.getElementById('latitude').value =  place.geometry.location.lat();-->
<!--        document.getElementById('longitude').value =  place.geometry.location.lng();-->



<!--        for (var component in componentForm) {-->
<!--            document.getElementById(component).value = '';-->
<!--            document.getElementById(component).disabled = false;-->
<!--        }-->

<!--        // Get each component of the address from the place details,-->
<!--        // and then fill-in the corresponding field on the form.-->
<!--        for (var i = 0; i < place.address_components.length; i++) {-->
<!--            var addressType = place.address_components[i].types[0];-->
<!--            if (componentForm[addressType]) {-->
<!--                var val = place.address_components[i][componentForm[addressType]];-->
<!--                document.getElementById(addressType).value = val;-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--    // Bias the autocomplete object to the user's geographical location,-->
<!--    // as supplied by the browser's 'navigator.geolocation' object.-->
<!--    function geolocate() {-->
<!--        $("#autocomplete").attr("autocomplete", "new-password");-->
<!--        if (navigator.geolocation) {-->
<!--            navigator.geolocation.getCurrentPosition(function(position) {-->
<!--                var geolocation = {-->
<!--                    lat: position.coords.latitude,-->
<!--                    lng: position.coords.longitude-->
<!--                };-->
<!--                var circle = new google.maps.Circle(-->
<!--                    {center: geolocation, radius: position.coords.accuracy});-->
<!--                autocomplete.setBounds(circle.getBounds());-->
<!--            });-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66tFLS3_WbOT1Eln1Pi7LT6dN68L-xSc&libraries=places&callback=initAutocomplete"-->
<!--        async defer></script>-->


<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


</body>
</html>